
# 编译中间产物 & 依赖
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch

# 调试与链接文件
*.ilk
*.pdb
*.dwo
*.idb

# 库文件 (动态库/静态库)
# 注意：如果是第三方库放在 libs 文件夹内需要上传，请使用 git add -f 强制添加
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib

# 可执行程序
*.exe
*.out
*.app


# 构建目录 
# 忽略你自己创建的构建目录
cbuild/

# 忽略标准的 CMake/C++ 构建目录
build/
cmake-build-debug/
cmake-build-release/
bin/
obj/
out/

# CMake 自动生成文件
# 防止不小心在根目录运行 cmake 产生的缓存文件
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
install_manifest.txt
CTestTestfile.cmake


# Visual Studio 生成文件
.vs/
# 用户特定的配置文件 (包含本地路径，不要上传)
*.user
*.userosscache
*.sln.docstates
*.suo
*.sdf
*.opensdf
# IntelliSense 数据库 (通常很大)
*.ipch
*.aprof


# Visual Studio Code 生成文件
.vscode/

# 操作系统生成文件
.DS_Store
Thumbs.db
Desktop.ini


# Android 开发相关 
# 包含本地 SDK 路径，绝对不要上传
local.properties
.gradle/
*.apk
*.ap_
*.dex